@import "~bootstrap/scss/bootstrap";
@import "~react-toastify/dist/ReactToastify";

.dropdown-toggle::after {
  display: none !important;
}

.home-map {
  width: 100%;
  height: 40rem;
}

.accordion-button {
  padding: 16px 5px;
}

#iframeCont iframe::-webkit-scrollbar {
  display: none;
}

#visaIframe {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  overflow: hidden !important;
}
