@import "~bootstrap/scss/bootstrap";
@import "~react-toastify/dist/ReactToastify";

.dropdown-toggle::after {
  display: none !important;
}

.nav-tabs .nav-item .nav-link {
  color: gray;
}

.nav-tabs .nav-item .nav-link.active {
  color: black;
}
