@import "~bootstrap/scss/bootstrap";
@import "~react-toastify/dist/ReactToastify";

// body {
//   background-color: rgb(246, 243, 243);
// }

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-item.active, .dropdown-item:active {
  color: rgb(35, 34, 34);
  background-color: darkgray;
}

.nav-tabs .nav-item .nav-link {
  color: gray;
}

.nav-tabs .nav-item .nav-link.active {
  color: black;
}

.nav.nav-pills .nav-link {
    color: gray;
}

.nav.nav-pills .nav-link.active {
    background-color: rgb(67, 65, 65);
    color: white;
}

.home-map {
  width: 100%;
  height: 40rem;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color: rgb(86, 84, 84) !important;
  color: white !important;
  max-height: 8rem;
  max-width: 12rem;
}

.leaflet-popup-close-button {
color: white !important;
margin: 4px;
}

.accordion-button {
  padding: 16px 5px;
}

#iframeCont iframe::-webkit-scrollbar {
  display: none;
}

#visaIframe {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  overflow: hidden !important;
}
